$colTemp: 0;
$sing: '/';

@mixin gridPosition($col1,$col2, $row1,$row2) {

  @if ($col2) {
    grid-column: $col1 #{$sing}$col2;
  } @else {
    grid-column: $col1
  }

  @if ($row2) {
    grid-row: $row1 #{$sing}$row2;
  } @else {
    grid-row: $row1
  }
}

@mixin setGrid() {
  display: grid;
}

@mixin setFlex($type,$center) {
  display: flex;
  @if ($type == 'row') {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
  @if ($center == 'yes') {
    justify-content: center;
  }

}

%artGrid_1_Header1 {
  content: 'CLEAN TYPOGRAPHY';
}

%artGrid_1_Text1 {
  content: 'Lorem ipsum dolor sit amet, consectertur adisdifidf elit. Minima maxime quan architecto quo inventore harum ex magni, dicis impedit. Lorem ipsum'
}

%artGrid_1_Header2 {
  content: 'ROCK SOLID CODE';
}

%artGrid_1_Text2 {
  content: 'Lorem ipsum dolor sit amet, consectertur adisdifidf elit. Minima maxime quan architecto quo inventore harum ex magni, dicis impedit. Lorem ipsum'
}

%artGrid_1_Header3 {
  content: 'EXPERT SUPPORT';
}

%artGrid_1_Text3 {
  content: 'Lorem ipsum dolor sit amet, consecteetur adipisicing elit. Minima maxime quam architeco quo inventore harum ex magni? dicta impedit. Lorem ipsum.'
}

%artGrid_2_Header1 {
  content: 'MD. KHALIL UDDIN';
}

%artGrid_2_Text1 {
  content: 'Hesad of Ideas'
}

%artGrid_2_Header2 {
  content: 'RUBEL MIAH';
}

%artGrid_2_Text2 {
  content: 'Lead WordPress Developer'
}

%artGrid_2_Header3 {
  content: 'SHAMIM MIA';
}

%artGrid_2_Text3 {
  content: 'Sr. Web Developer'
}
%artGrid_2_Header4 {
  content: 'JOHN DOE';
}

%artGrid_2_Text4 {
  content: 'FRONT-end DEVELOPER'
}


@mixin setArtPicBlock($ArtGridNum,$ArtGridDivNum,$NamePic,$CountPic,$HeightPic,$WightPic) {

  @for $j from 1 to $CountPic+1 {

    .artSubGrid_#{$ArtGridNum}_div#{$ArtGridDivNum}_d#{$j} {
      @include setGrid();
      @include gridPosition($j, null, 3, null);
      justify-items: center;
      text-align: center;
      row-gap: 20px;
      @for $i from 1 to $CountPic+1 {

        .artSubGrid_#{$ArtGridNum}_div#{$ArtGridDivNum}_d#{$j}_#{$i} {

          @if ($i==1) {
            background-image: url("img/#{$NamePic}#{$j}.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: $HeightPic;
            width: $WightPic;
          } @else if ($i==2) {
            &:before {
              @extend %artGrid_#{$ArtGridNum}_Header#{$j}
            }
          } @else if ($i==3) {
            &:before {
              @extend %artGrid_#{$ArtGridNum}_Text#{$j}
            }
          }
          @include gridPosition(1, null, $i, null);
        }
      }
    }

  }

}
