@import '_CommonMixin';

$rootTextColor: #ffffff;
$rootTextCommonColor: #747474;
$rootTextHeaderSize: 18px;
$rootTextBaseSize: 14px;
$rootFontStyleItalic: italic;
$rootFontFamily: 'Montserrat', sans-serif;;

.grid {

  margin: 0;
  padding: 0;

  @include setGrid();
  grid-template-areas: "header" "article" "footer";
  row-gap: 40px;

  header {
    grid-area: header;
  }


  article {
    grid-area: article;
  }

  footer {
    grid-area: footer;
  }

  @import 'header';
  @import 'article';
  @import 'footer';

}


@media (min-width: 300px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*Размещаем наши элементы шаблона, используя колонки*/
    grid-template-areas: "header" "article" "footer";
  }

  .hide {
    display: none;
  }

  .hideImg {
    display: none;
  }

  .greedy {
    grid-column: 1/3;
    grid-row: 3/5;
  }

  > * {
    border: 1px solid #212941;
    color: $rootTextColor;
    font-size: $rootTextHeaderSize;
  }

  a{
    text-decoration: none;
    color: $rootTextColor;
  }

}


@media (min-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
    //grid-template-rows: 300px;
    grid-template-areas: "header" "article" "footer";
  }

  .hide {
    display: none;
  }


  .hideImg {
    display: block;
  }

  .greedy {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}

@media (min-width: 840px) {
  .grid {
    grid-template-columns: 1fr;
    //grid-template-rows: 300px;
    grid-template-areas: "header" "article" "footer";
    row-gap: 40px;
  }

  .hide {
    display: block;
  }
}



